    <!-- About Section -->
    <section id="about" class="container content-section text-center">
            <div class="row">
                    <div class="col-lg-12">
                            <h2> Customers &amp; projects I’ve worked for:</h2>
                    </div>
            </div>
        <div class="row">
            <div class="col-lg-12">
                    <section class="section_clients clients">
                            
                            <ul class="clients__list">
                                <li class="client">
                                    <a href="//aktivdengi.com/">
                                    <img class="client__logo" src="img/clients/ad.png">
                                    </a>
                                </li>
                                <li class="client">
                                        <a href="//iam.innogy.com/">
                                        <img class="client__logo" src="img/clients/Innogy_Logo.svg.png">
                                        </a>
                                </li>
                                <li class="client">
                                    <a href="//aktivsystems.com/">
                                    <img class="client__logo" src="img/clients/as.png">
                                    </a>
                                </li>
                                <li class="client">
                                        <a href="//brixx.com/">
                                        <img class="client__logo" src="img/clients/brixx.png">
                                        </a>
                                    </li>
                                    <li class="client">
                                        <a href="//center-inform.ru/">
                                        <img class="client__logo" src="img/clients/center-inform2.png">
                                        </a>
                                    </li>
                            </ul>
                          </section>
        </div>
        <div class="row">
                <div class="col-lg-12">
                        <section class="section_clients clients">
                                
                                <ul class="clients__list">
                                        <li class="client">
                                                <a href="//it-kvartal.ru/">
                                                <img class="client__logo" src="img/clients/ik.png">
                                                </a>
                                            </li>
                                            <li class="client">
                                                <a href="//internetmath.net/HomePage.aspx/">
                                                <img class="client__logo" src="img/clients/im.png">
                                                </a>
                                            </li>
                                            <li class="client">
                                                    <a href="//egais.ru/">
                                                    <img class="client__logo" src="img/clients/logo_egais.png">
                                                    </a>
                                                </li>
                                                <li class="client">
                                                    <a href="//makro.cz/">
                                                    <img class="client__logo" src="img/clients/Logo_METRO.svg.png">
                                                    </a>
                                                </li>
                                                <li class="client">
                                                        <a href="//actum.cz/">
                                                        <img class="client__logo" src="img/clients/actum.png">
                                                        </a>
                                                    </li>                
                                </ul>
                              </section>
            </div>
    </section>
